extends layout

block content
  h1 Welcome to the Movie Database App
  p This application is for managing a collection of movies. You can view, add, edit, and delete movies.
  p  Name: Manish Chandrani Email: mchandrani@hawk.iit.edu

  a(href='/movies') View Movies Database
