extends layout 

block content 
    .d-flex.justify-content-between.align-items-center.pb-4
        h1 All Available Movies
        a(href='/movies/new').btn.btn-primary Create a New Movie

    if movies.length === 0
        .text-center.mt-5
            h5 No available movies

    if movies.length > 0
        table.table.table-striped.mt-4
            thead
                tr
                    th Title
                    th Director
                    th Year
                    th Actions
            tbody
                each movie in movies
                    tr
                        td #{movie.title}
                        td #{movie.director}
                        td #{movie.year}
                        td
                            a(href=`/movies/${movie.id}`).btn.btn-primary.btn-sm View
