extends layout

block content
  .container-fluid.w-75
    .row.justify-content-center.align-items-center.my-5
      .col-md-8
        .card
          .card-header.text-center.py-4
            h2 #{title}
          .card-body.py-4.px-5
            if msg
              ul.list-unstyled.text-danger
                each val in msg
                  li.red= val.msg
            form(action= actionURL, method="POST")
              .mb-3
                label(for="title").form-label Title:
                input(type="text", name="title", id="title", class="form-control", placeholder="Enter movie title", required)
              .mb-3
                label(for="director").form-label Director:
                input(type="text", name="director", id="director", class="form-control", placeholder="Enter director's name", required)
              .mb-3
                label(for="year").form-label Year:
                input(type="number", name="year", id="year", class="form-control", placeholder="Enter release year")
              .mb-3
                label(for="notes").form-label Notes:
                textarea(name="notes", id="notes", class="form-control", placeholder="Enter notes about the movie", rows="3")
              .d-grid.gap-2
                button(type="submit").btn.btn-primary Save Changes
                a(href="/movies").btn.btn-secondary Go Back
